<div
  class="d-flex flex-column justify-content-center align-items-center">
  <div class="d-flex gap-2">
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input (keydown.enter)="addTarefa()"
             [(ngModel)]="tarefa"
             matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>

    @if (tarefa) {
      <button (click)="addTarefa()" mat-fab extended>
        <mat-icon>favorite</mat-icon>
        Basic
      </button>
    }
  </div>

  <mat-list role="list">
    @for (item of listaDeTarefas; track item) {
      <mat-list-item role="listitem">{{ item.nome }}</mat-list-item>
      <mat-divider></mat-divider>
    }
  </mat-list>
</div>
