<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over">

    <dl>
      <dt routerLink="">Home</dt>

      <dt>Data binding</dt>
      <dd routerLink="interpolation">Interpolation</dd>
      <dd routerLink="property-binding">Property Binding</dd>
      <dd routerLink="event-binding">Event binding</dd>
      <dd routerLink="two-way-data-binding">Two way data binding</dd>

      <dt>Forms</dt>
      <dd routerLink="template-driven">Template Driven</dd>

      <dt>Angular</dt>
      <dd routerLink="button">Button</dd>
      <dd routerLink="form-field">Form Field</dd>
      <dd routerLink="expansion-panel">Expansion panel</dd>
      <dd routerLink="todo-list">Todo List</dd>

    </dl>

  </mat-drawer>
  <mat-drawer-content>

    <mat-toolbar>
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
              aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
